<h1>formulario reactivo</h1>

<form action="" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Info</legend>
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" />

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" />

    <div formGroupName="address">
      <fieldset>
        <legend>Address</legend>

        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street" />

        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city" />

        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state" />

        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip" />
      </fieldset>
    </div>
    <button>Submit</button>
    <button type="button" (click)="updateProfile()">Update Profile</button>
  </fieldset>
</form>
<!-- <p>{{aliases.controls}} </p> -->
<p>Form Status: {{ profileForm.status }}</p>

<hr />
<app-form-reactive></app-form-reactive>
